.beginner-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.beginner-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.beginner-container p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #555;
}

.lesson-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.lesson-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: left;
}

.lesson-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.lesson-card p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #666;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.start-button:hover {
    background-color: #218838;
}

.subcategories {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.subcategory-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #218838;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.subcategory-link:hover {
    background-color: #218838;
  
}
