
.user-profile {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #f8f9fa; /* Light background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.user-profile h1 {
  margin-bottom: 20px;
  color: darkolivegreen; /* Dark green for headings */
}

.user-profile p {
  margin: 10px 0;
  color: #333;
}

.user-profile ul {
  list-style-type: none;
  padding: 0;
}

.user-profile ul li {
  background-color: lightsalmon; /* Light salmon for badge background */
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.profile-picture-large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px 0;
}

.user-profile a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: darkolivegreen;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.user-profile a:hover {
  background-color: lightgreen;
}
